.post{
    max-width: 600px;
    margin: 0 auto;
}
.post .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post .info{
    margin-bottom: .5rem;
}
.post .info strong{
    margin-right: 1rem;
}