<div class="post">
    <div class="header">
        <h1>Post Title</h1>
        <button 
        routerLink ="/"
        class="btn btn-link">На главную</button>
    </div>
    <div class="info">
        <strong>Тут автор</strong>
        <small>12.12.2020</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita minima tenetur alias quod, ad aperiam omnis, officiis iste quasi obcaecati nemo veritatis labore quibusdam. Et odit necessitatibus tempora porro, quisquam consequuntur aliquam corporis velit quasi eaque aliquid quo eveniet veniam perferendis id! Obcaecati iste ipsam culpa eum libero sit numquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita minima tenetur alias quod, ad aperiam omnis, officiis iste quasi obcaecati nemo veritatis labore quibusdam. Et odit necessitatibus tempora porro, quisquam consequuntur aliquam corporis velit quasi eaque aliquid quo eveniet veniam perferendis id! Obcaecati iste ipsam culpa eum libero sit numquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita minima tenetur alias quod, ad aperiam omnis, officiis iste quasi obcaecati nemo veritatis labore quibusdam. Et odit necessitatibus tempora porro, quisquam consequuntur aliquam corporis velit quasi eaque aliquid quo eveniet veniam perferendis id! Obcaecati iste ipsam culpa eum libero sit numquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita minima tenetur alias quod, ad aperiam omnis, officiis iste quasi obcaecati nemo veritatis labore quibusdam. Et odit necessitatibus tempora porro, quisquam consequuntur aliquam corporis velit quasi eaque aliquid quo eveniet veniam perferendis id! Obcaecati iste ipsam culpa eum libero sit numquam.</p>
    </div>
</div>
